{% extends 'admin/base.html' %} {% block content %}
<h3 class="my-2">Lesson Page</h3>

<h4 class="my-2">Add New Lesson</h4>

<form action="{{url_for('admin_lesson')}}" method='POST' enctype="multipart/form-data">
    <input type="text" class="form-control my-2" name='lesson_name' placeholder="Lesson Name">
    <input type="text" class="form-control my-2" name='lesson_text' placeholder="Lesson Text">
    <input type="text" class="form-control my-2" name='lesson_url' placeholder="Lesson URL">
    <input type="text" class="form-control my-2" name='lesson_details' placeholder="Lesson Details">
    <input type="file" class="form-control my-2" name='lesson_logo'>
    <input type="submit" class="btn btn-primary px-2 my-2" value='Add New Lesson'>
</form>
<h4 class="my-2">All Lessons</h4>

<table class="table">
    <thead>
        <tr>
            <th>Lesson title</th>
            <th>Lesson text</th>
            <th>Lesson URL</th>
            <th>Lesson Details</th>
        </tr>
    </thead>
    <tbody>
        {% for lesson in lessons %}
        <tr>
            <td scope="row">{{lesson.lesson_title}}</td>
            <td>{{lesson.lesson_text}}</td>
            <td>{{lesson.lesson_url}}</td>
            <td>{{lesson.lesson_details}}</td>

            <td>
                <a href="/admin/lesson/delete/">Delete</a>
                <a href="/admin/lesson/update/">Update</a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
    </table>
{% endblock %}

