{% extends 'admin/base.html' %} {% block content %}
<h3 class="my-2">Slider Page</h3>

<h4 class="my-2">Add New Slide</h4>

<form action="{{url_for('admin_slider')}}" method='POST' enctype="multipart/form-data">
    <input type="text" class="form-control my-2" name='slider_title' placeholder="Slide Title">
    <input type="text" class="form-control my-2" name='slider_text' placeholder="Slide Text">
    <input type="text" class="form-control my-2" name='slider_url' placeholder="Slide URL">
    <input type="file" class="form-control my-2" name='slider_photo'>
    <input type="submit" class="btn btn-primary px-2 my-2" value='Add New Slide'>
</form>

<h4 class="my-2">All Slides</h4>

<table class="table">
    <thead>
        <tr>
            <th>Slide title</th>
            <th>Slide text</th>
            <th>Slide URL</th>
        </tr>
    </thead>
    <tbody>
        {% for slide in slides %}
        <tr>
            <td scope="row">{{slide.slider_title}}</td>
            <td>{{slide.slider_text}}</td>
            <td>{{slide.slider_url}}</td>
            <td>
                <a href="/admin/slider/delete/">Delete</a>
                <a href="/admin/slider/update/">Update</a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}