{% extends 'main/base.html' %} {% block content %}

			<!--Slider section  -->
            <section id="slider">
				<div class="wrapper">
			  
					<div class="slides-container">
					  <div class="slide-image">
						<img class="mySlides" src="static/main/img/img1.jpg">
						<img class="mySlides" src="static/main/img/img2.jpg">
						<img class="mySlides" src="static/main/img/img3.jpg">
					  </div>
					</div>
						<div class="slider-text">
							<h1> Gələcəyinizi Özünüz Kodlaşdırın</h1>
							<p>Bu layihənin əsas məqsədi gənc qızlara onları texnoloji <br>
								aləminə hazırlayaraq kodlaşdırmanı öyrətməkdir. <br>
								Proqramdakı qızlar, tətbiqetmə inkişafını və <br>
								sənayenin tələb etdiyi bacarıqları öyrənmək üçün  təlim alırlar.<br>
							 </p>
							
							
							 <div id="container">
								<a href="#" class="button1">View Plans</a>
								<a href="#" class="button2">Try for free</a>
							 </div>
				  </div>
			</section>

			<!-- Lesson section -->
          <section id="lesson">
			<div class="lesson-row">
				<div class="lesson-container">
				<div class="lessson-items">
				<div class="col">lesson
				<p>Javascript</p> 
				<div class="lesson-courses">
					<span>5</span>
					Kurs
				</div>
				<a href="/js">
				<img class="lesson-icon" src="static/main/img/js.png"> </a>
	            </div>
				<div class="col">lesson
					<p>Angular</p> 
					<div class="lesson-courses">
						<span>7</span>
						Kurs
					</div>
					<a href="/angular">
					<img class="lesson-icon" src="static/main/img/angular.png"> </a>
				</div>
				<div class="col">lesson
					<p>Core Python</p>
					<div class="lesson-courses">
						<span>11</span>
						Kurs
					</div>
					<a href="/python">
					<img class="lesson-icon" src="static/main/img/python.png"></a>
				</div>
				<div class="col">lesson
					<p>C#</p> 
					<div class="lesson-courses">
						<span>12</span>
						Kurs
					</div>
					<a href="/c#">
					<img class="lesson-icon" src="static/main/img/csharp.png"></a>
				</div>
                     <div class="lesson-text">
						<div class="title-section">
							 <h5 class="pink-title">TREND TEXNOLOGİYALARI</h5>
							 <p class="white-title"> İndi öyrənmək üçün <br class="text">
							məşhur mövzular </p> 
							 <div class="mini-text">
							 <p>
								Hansı texnologiyalara diqqət yetirəcəyinizi bilmirsiniz?<br>
								Qrafiklərin üstündə nə olduğunu görün və bacarıqları artırmaq <br> 
								üçün tövsiyə olunan kursları əldə edin. <br>
							   
							   </p>
							 </div>
						   </div>
				          </div>
				</div>
				</div>
			  </div>
			  </div>
			  </div>
			   </div>
				</div>
				 </div>
		   </div>
            </section>

			<!-- Column-control section -->
			<section id="column-control">
				<div class="main-title">
					<h6 class="title-pink">
					SEE WHAT'S NEW
					</h6>
				</div>
				<div class="title-2">
					<h3 class="ultra-title">
						Our latest features for Skills and Flow
					</h3>
				</div>
				
				<div class="spacer section">
					<div class="spacer" style="height:15px;">
                </div>
				</div>
				<div class="container">
						<div class=" block-row">
							<div class="column">
								<div class="image" style="margin-right: 20px;">
								<img src="static/main/img/logo-skills.png" style=" max-height:20px; ">
								</div>
								<div class="block-title" style="margin-top: 20px;">
								<div class="title-txt">
									<h6>CERTIFICATIONS</h6>
								</div>
								</div>
							  <h2>Empower your teams to grow their skills and their careers</h2>
							  <p>Validate your team’s skills while showing them you’re <br>
								  invested in their growth. Our certification coverage aligns <br>
								  business-critical skill development to top technology objectives in cloud, IT, security and Agile methodologies. </p>
							</div>
							<div class="column">
								<div class="image" style="margin-right: 20px;">
									<img src="static/main/img/logo-flow.png" style=" max-height:20px; ">
									</div>
									<div class="block-title" style="margin-top: 20px;">
										<div class="title-txt">
											<h6>DELIVERY MODULE</h6>
										</div>
										</div>
							  <h2>Make lasting workflow improvements <br>
								  with insights from your Jira data</h2>
							  <p>Go beyond Jira data and get visibility into what’s happening <br>
								  within your user stories, tasks and bugs. Flow’s delivery <br>
								  module helps you better understand how your <br>
								  team is working and can make lasting improvements <br>
								  to your workflow.</p>
							</div>
						  </div>
				</div> 
                  <div class="generic-block section" style="height: 100%;">
                 <div class="generic-container">
					 <div class="generic-column">
						 <img src="static/main/img/image-res.img.f500f2ee-2100-4630-b61e-3a98e789da2f.png">
					 </div>
					 <div class="pink-orange">
					 <div class="generic-column">
					<div class="image-res" style="padding-left: 0px;
					padding-right: 0px;">
					<img src="static/main/img/vm.png" style="max-width: 100px; height: auto; display: inline-block;
					vertical-align: middle;">
					<h4>Winning the talent war with <br>
						a scalable tech skills platform</h4>
                    </div>
					<div class="white-text">
						<p>Evolving a 20-year-old company, increasing <br>
							innovation and accelerating time to delivery <br>
							requires fresh skills. See how VMware’s globally <br>
							dispersed teams use Pluralsight to leverage the <br>
							latest developments in technology as they find <br>
							new ways to serve customers.</p>
					</div>
					</div>
					</div>
				 </div>
				</div>
				</div>
			</section>
							    <script src="static/main/js/app.js"></script>
						        </body>
                                </html> 

                            {% endblock %}