{% extends 'main/base.html' %} {% block content %}
<!--JavaScript-->
<a href="/js">
<section id="courses">
				<div class="container grid">
					<div class="course-item">
					<img src="..statix/main/img/js.png" style="border-radius: 50%;
					border: 1px solid #555;
					margin-bottom: -110px; max-width: 70px; position: relative; top: 80px; left: 15px;"> 
					<div class="learn-text">
						<h1>Javascript</h1>
						<p>JavaScript, ECMAScript spesifikasiyasına uyğun şərh edilmiş bir proqramlaşdırma dilidir.<br> 
                        JavaScript yüksək səviyyəli, vaxtında tərtib edilmiş və çox paradiqmadır. <br>
                        Buruq-mötərizəli sintaksis, dinamik yazma, prototip əsaslı obyekt yönümlü <br>
                        və birinci dərəcəli funksiyalara malikdir. Bu yolda JavaScript əsaslarını, eləcə də vədlər,<br> 
                        asinxron proqramlaşdırma, düşüncə kimi daha inkişaf etmiş mövzuları öyrənəcəksiniz.</p>

						<a href="#" class="button4">Get Started</a>
                       </div>
					  
	           </div>
			</section>
            <!-- Learning -->
			<div id="learning">
				<div class="course-highlight" class="columns large-12">
					<h3>What You Will Learn</h3> 
					<ul> 
						<li>
	                       In this path, you will learn the beginning fundamentals of Salesforce administration. 
							Topics include Organization configuration, user management, security, reports and dashboards, and workflows.
						</li>
					</ul>
	       </div>
			</div>
            </a>
            <!--JavaScript end-->

            <!--Angular-->
            <a href="/angular">
            <section id="courses">
				<div class="container grid">
					<div class="course-item">
					<img src="..static/main/img/angular.png" style="border-radius: 50%;
					border: 1px solid #555;
					margin-bottom: -110px; max-width: 70px; position: relative; top: 80px; left: 15px;"> 
					<div class="learn-text">
						<h1>Angular</h1>
						<p>Angular, HTML-də dinamik və interaktiv tətbiqetmələr yaratmaq üçün tam bir JavaScript çərçivəsidir. <br>
                            Vebdəki ən isti çərçivələrdən biri olmaqdan başqa, Angular öyrənmək asandır, <br>
                            eyni zamanda kompleks bir səhifəlik veb tətbiqetmələr hazırlamağa kömək edəcək qədər güclüdür. <br>
                            Bu yol, Angular 2 və daha çoxunu əhatə edən məzmunu əhatə edir. Orijinal versiya üçün AngularJS yolumuza baxın.</p>

						<a href="#" class="button4">Get Started</a>
                       </div>
					  
	           </div>
			</section>
			
			<!-- Learning -->
			<div id="learning">
				<div class="course-highlight" class="columns large-12">
					<h3>What You Will Learn</h3> 
					<ul> 
						<li>
	                       In this path, you will learn the beginning fundamentals of Salesforce administration. 
							Topics include Organization configuration, user management, security, reports and dashboards, and workflows.
						</li>
					</ul>
	       </div>
			</div>
            </a>
             <!--Angular end-->
             
             <!--Python-->
             <a href="/python">
              <section id="courses">
				<div class="container grid">
					<div class="course-item">
					<img src="..static/main/img/python.png" style="border-radius: 50%;
					border: 1px solid #555;
					margin-bottom: -110px; max-width: 70px; position: relative; top: 80px; left: 15px;"> 
	
					<div class="learn-text">
						<h1>Core Python</h1>
						<p>Python, kodun oxunaqlılığını vurğulayan şərh edilmiş, yüksək səviyyəli, ümumi təyinatlı bir dildir. <br>
                            Bu, strukturlaşdırılmış, obyekt yönümlü və funksional proqramlaşdırmanı dəstəkləyən dinamik şəkildə yazılmış <br>
                            bir dildir. Hərtərəfli standart kitabxanası sayəsində tez-tez "batareyalar daxil" bir dil olaraq xarakterizə olunur. Bu yolda <br>
                            Python əsaslarını və obyekt yönümlü dizayn və kod təşkilatı kimi daha inkişaf etmiş mövzuları öyrənəcəksiniz</p>
						<a href="#" class="button4">Get Started</a>
                       </div>
					  
	           </div>
			</section>
			
			<!-- Learning -->
			<div id="learning">
				<div class="course-highlight" class="columns large-12">
					<h3>What You Will Learn</h3> 
					<ul> 
						<li>
	                       In this path, you will learn the beginning fundamentals of Salesforce administration. 
							Topics include Organization configuration, user management, security, reports and dashboards, and workflows.
						</li>
					</ul>
	       </div>
			</div>
             </a>
<!--Python end-->
<!--c#-->
<a href="/c#">
  <section id="courses">
				<div class="container grid">
					<div class="course-item">
					<img src="../Project/img/csharp.png" style="border-radius: 50%;
					border: 1px solid #555;
					margin-bottom: -110px; max-width: 70px; position: relative; top: 80px; left: 15px;">
					<div class="learn-text">
						<h1>C#</h1>
						<p>C # .NET Framework-dən yararlanmaq üçün ən çox istifadə olunan dildir. <br>
                            Beləliklə, C # öyrənmək, müəssisə sistemləri, masa üstü tətbiqləri, veb saytlar <br>
                            və mobil tətbiqetmələr yaratmaq üçün bir sıçrayışdır. Bu öyrənmə yolunun məqsədi <br>
                            sizi C # ilə təcrübəniz az olmaqdan dilin inkişaf etmiş xüsusiyyətlərindən <br>
                            necə istifadə edəcəyinizi və CLR-də necə işlədiyini anlamağa aparmaqdır.<br>
						<a href="#" class="button4">Get Started</a>
                       </div>
					  
	           </div>
			</section>
			
			<!-- Learning -->
			<div id="learning">
				<div class="course-highlight" class="columns large-12">
					<h3>What You Will Learn</h3> 
					<ul> 
						<li>
	                       In this path, you will learn the beginning fundamentals of Salesforce administration. 
							Topics include Organization configuration, user management, security, reports and dashboards, and workflows.
						</li>
					</ul>
	       </div>
			</div>
             </a>
 <!--c# end-->
  {% endblock %}
