<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="collapse navbar-collapse" id="collapsibleNavId">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{url_for('admin_index')}}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('admin_slider')}}">Slider</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/product">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/product/colors">Product Colors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="admin/product/photos">Product Images</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="admin/product/categories">Product Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="admin/product/size">Product Size</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-12">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
    
</body>

</html>