*{ 
margin: 0;
padding: 0;
box-sizing: border-box;

}

.logo img{
        float: left;
        width: 350px;
        height: 100px;
        padding:38px;
        border: 1px;
        padding-top: inherit;
        margin-top: 29px;
       
}

ul{
float: left;
list-style-type: none;
color: white;
}

ul li{
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding-top: 1px;
    margin-left: 10px;
    margin-right: 40px; 
    
}




.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.header{
width: 100%;
height: 100vh;
background-color: #212121;
}

.logo{
width: 100%;
height: 100vh;
border: 1px ;
background-color: rgb(0, 0, 0);
padding-top: 30px;

}

.header .menu ul li a {
color: white;
display: flex;
font-family:ps commons,sans-serif ;
font-size: 16px;
font-weight: 700;
list-style-type: none;
text-decoration: none;
padding: 10px;
line-height:90px;  
}

button {
background-color: black;
color: white;
font-family: ps commons,sans-serif;
font-size: 16px;
font-weight: 700;
padding: 14px 30px;
margin: 10px;
border: 2px;
cursor: auto;
float: right;
line-height: 70px;
white-space: nowrap;

}
.navbar{
overflow:auto;
}



.navbar-search{
  color: white;
  display: inline-block;
  font-size: 20px;
  margin-top: 47px;
  float: right;
  position: center 20px;
 
}

/*slider section styles*/

#slider{
  height: 770px;
  border: 1px;
  background-color: black;
}

.slider-item{
background-image: url(./img/plural.jpg);
padding-top: 40px;
width: 100%;
height: 800px;
display: flex;
align-items: center;
position: absolute;
background-repeat: no-repeat;
background-position: center;
}

.slider-content{
  width: 1350px;
  margin: 0px auto;

  
 }

 /*path section styles*/

#path{
  height: 1200px;
  background-color:black;
  background-size: cover
}

#path .path-items{
  height: 700px;
  font-size: .900em;
  font-family: gotham ssm a,gotham ssm b,sans-serif;
  font-weight: 700;
  font-style: normal;
  color:#ec008c;
  cursor: pointer;
}

.path-row{
  margin: 0 -5px;
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  clear: both;
}

.path-row .col1{
  max-width: 385px;
  
}
 
.col1 {
  float: left;
  margin: 20px;
  width: 31%;
  position: relative;
  padding: 20px 30px;
  min-height: 165px;
  border: 1px solid black;
  

}


 .path-items .col1 p{

  color: white;
  line-height: 19px;
  font-family: 'PS Commons';
  font-size: 22px !important;
  font-weight: normal !important;


}

.path-items .col1 .path-icon {
  width: 180px;
  height: auto;
  position:absolute;
  left:150px;
  top: -60px;
  margin-top: 30px;
  border: none;
  flex-direction:column;
  vertical-align: middle;
}



.col2{
  float: left;
  margin: 0px;
  width: 30%;
  position: relative;
  padding: 20px 25px;
  min-height: 165px;
  letter-spacing: 1px;
  


}
 .col2 .title-section 
{
  display: block;
  position:relative;
  margin: 30px;
  padding: 30px 40px;
  left:800px;
  top: 200px;
  margin-top: -10px;
  color:white;
  border: 1px;
  
}

.col2  .title-section .pink-title 
{
  margin: 0px 0px 20px;
  color:#ec008c;
  font-family: 'PS Commons Bold';
  font-weight: normal !important;
  font-size: 15px;
  letter-spacing: 1px;
}

.col2 .title-section .white-title{
  color: white;
  font-family: 'PS Commons Bold';
  font-weight: normal !important;
  font-size: 30px;
  letter-spacing: 1px;
  margin: 0px 0px 20px;
}

.col2 .title-section a{
  color: inherit;
  width: 30px;
  font-family: 'PS Commons';
  font-weight: normal !important;
  font-size: 18px;
  line-height: 1.5; 
  margin: 0px 0px 20px;
  margin-bottom: 20px;
  text-rendering: optimizeLegibility;
}
   

  .path-courses{
    color: #eee;
  }

  /*block section styles*/

  #block{
    border: 1px;
    background-color: black;
    background-size: cover
  }

  .block-items{
   width: 100%;
   height: 1400px;
   display: flex;
   align-items: center;
   position: absolute;
   margin-top: 20px;
   background-repeat: no-repeat;
   background-position: center;
  }
   
  #block .block-items .image img {
    transform: translateX(-50%);
    margin-left: 50%;
    margin: 0px 0px 0px 57.1354px;
    margin-top: 40px;
    display: inline-block;
    max-width: 100%;
    max-height: 20px;
    height: auto;
    vertical-align: middle;
    position: absolute;
  }

  .text h6{
    font-family: 'PS Commons Bold';
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 20px 0;
    margin-top: 20px;
    color: white;
    margin-top: 35px;
    line-height: 1.5;
    position: absolute;
    left: 140px;
    text-transform: uppercase;
    cursor: auto;
    display: inline-block;
    float: right;
    clear: both;
    letter-spacing: 1px;
    
    

  }
  
   .ultra .text-2 h3{
     width: 100%;
     height: 20px;
    font-family: 'PS Commons Bold';
    font-weight: 900;
    font-size: 27px;
    padding: 20px;
    position: absolute;
    margin: 0 0 20px;
    margin-top: 50px;
    color: white;
    letter-spacing: 1px;

    

  }

  .teams-text p{
    color: white;
    font-family: 'PS Commons Bold';
    font-size: 18px;
    padding: 90px;
    margin: 0 0 20px;
    margin-top: 50px;
    line-height: 1.2;
    position: absolute;
    left: -70px;
  }

   .content-clearbox .generic-blocks {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 600px;
    right: 0;
    float: right;
    margin-top: 60px;

     }

     .content-clearbox .generic-blocks img{
      display: inline-block;
      max-width: 100%;
       height: 500px;
       padding: 20px 30px;
       margin: 0px;
       margin-top: 40px;
       left: 200px;
       cursor: zoom-in;
     }