:root {
  --primary-color:#000000 ;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family:ps commons,sans-serif ;
  color:#333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

img {
  width: 100%;
}

.hidden {
  visibility: hidden;
  height: 0;
}
body {
  overflow-x:hidden;
}


/* navbar styles*/

.navbar { 
  background-color :var(--primary-color);
  color: white;
  text-align: center;
  height: 100px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top:0;
  z-index:1;
}



 .navbar a {
  color: white;
  padding: 10px;
  margin: 0 5px;
  display:inline-block;
  margin-top:30px;
 }

 .navbar ul  {
  display: flex;
  padding-top: inherit;
 }

 .navbar .nav-logo {
  float: left;
  width: 230px;
  height: 100px;
  padding:25px;
  border: 1px;
  padding-top: inherit;
 }
 

  button {
  background-color: var(--primary-color);
  color: white;
  font-family: ps commons,sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 20px 30px;
  margin: 10px;
  border: 1px;
  cursor: auto;
  position: absolute;
  top: 18px;
  right: 0;
  
  }

  .navbar-search {
    color: white;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    right: 120px;
    top: 40px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

 /* slider section styles */

 #slider {
  height: 550px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  position: relative;
}

.slider-text {
  position: absolute;
  top: 190px;
  left: 25px;
  color: #ffffff;
}

.slider-text h1 {
  font-size: 38px;
  line-height: 100%;
  text-transform: none;
}

.slider-text p{
  position: relative;
  top: 40px;
  font-size: 18px;

}

.slider-item {
  background-image: url(../Project/img/new.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
  margin: 25px;
  }

  /* path styles */

  #path {
    height: 700px;
    background-color:var(--primary-color);
    background: #222;
  }

 #path .path-items{
  height: 600px;
  font-size: .900em;
  font-family: gotham ssm a,gotham ssm b,sans-serif;
  font-weight: 700;
  font-style: normal;
  color:#ec008c;
  cursor: pointer;
}

.path-row{
  margin: 0 -5px;
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  clear: both;
}

 
.col {
  float: left;
  margin: 35px;
  width: 31%;
  position: relative;
  padding: 20px 30px;
  min-height: 165px;
  border: 1px solid var(--primary-color);
  

}

 .path-items .col p{

  color: white;
  line-height: 19px;
  font-family: 'PS Commons';
  font-size: 22px !important;
  font-weight: normal !important;


}

.path-items .col .path-icon {
  width: 110px;
  height: auto;
  position:absolute;
  left:205px;
  top: -60px;
  margin-top: 30px;
  border: none;
  flex-direction:column;
  vertical-align: middle;
}

.path-text .title-section {
 position: absolute;
 top: 600px;
 left: 750px;
  
  }


 .title-section title-1
{
  display: block;
  color:white;
  border: 1px;
  
}

.title-section .pink-title 
{
  margin: 0;
  color:#ec008c;
  font-family: 'PS Commons Bold';
  font-weight: 300px;
  font-size: 15px;
  letter-spacing: 1px;
}

 .title-section .white-title  {
  color: white;
  font-family: 'PS Commons Bold';
  font-weight: 500px;
  font-size: 32px;
  letter-spacing: 1px;
}
.mini-text p{
  color: #eee;

}
 .path-courses{
    color: #eee;
    font-size: 18px;
    line-height: 1.4;
  }

  /* column-control styles */

  #column-control {
    height: 1300px;
    border: 1px solid var(--primary-color);
    background:var(--primary-color);
 }

  .main-title .title-pink {
  margin: 20px;
  font-family: 'PS Commons Bold';
  font-size: 20px;
  color: #ec008c;
  
  }

  .title-2 .ultra-title {
    color: #eee;
    font-size: 32px;
    font-family: 'PS Commons Bold';
 }

.column {
  float: left;
  width: 50%;
  padding: 100px 0;
  height: 400px;
  position: relative;
  background: linear-gradient(180deg, #363636 0%, rgba(54, 54, 54, 0) 41.19%), linear-gradient(0deg, #222222, #222222);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding-top: 50px;
}

.block-row:after {
  content: "";
  display: table;
  
}
 @media screen and (max-width: 1000px) {
    .container .block-row .column {
    width: 100%;
    border: 1px solid red;
  }
}

.column p{
  color: #eee;
  font-size: 18px;
  line-height: 1.4;
  margin: 8px;
}

.column .image img {
  margin: auto;
  max-width: 20%;
  height: auto;
  transform: translateX(-50%);
  margin-left: 10%;
  vertical-align: middle;
}

.column .title-txt {
  font-family: gotham ssm a,gotham ssm b,sans-serif;
  font-size: 24px;
  color: #eee;
  line-height: 1.4;
}

.block-title{
 position: relative;
 top: -40px;
 left: 140px;
}
 h2 {
   color: #eee;
   text-transform: unset;
   font-weight: 300;
   font-size: 24px;
 }

.generic-container .generic-column {
  margin-top: 50px;
  float: left;
  width: 50%;
  padding: 100px 0;
  height: 400px;
  border: 1px solid var(--primary-color);

}
.generic-column img{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  padding-bottom: 100px;
  margin-top:-100px;
  position: relative;
}

.pink-orange .generic-column{
  background: linear-gradient(100.37deg, rgb(236, 0, 139) 0%, rgb(241, 90, 34) 100%);
  height: 500px;
}

.generic-column h4 {
  color: #eee;
  font-size: 28px;
  line-height: 1.2;
  position: relative;
  left: 35px;
  top: -35px;
}

.generic-block section {
  padding-bottom: 20px;
  margin-top: 10px;
}

.pink-orange img {
  position: relative;
  left: 35px;
  top: 30px;
}

.white-text {
  color: #ffffff;
  font-family: 'PS Commons Bold';
  font-size: 18px;
  position: relative;
  top: -15px;
  left: 40px
}

/* Beginners */
#beginners-slider {
  height: 500px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  position: relative;
}

.beginner-item {
  background-image: url(../Project/img/nw_background.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 500px;
  }

  .beginner-text {
    position: absolute;
    top: 170px;
    right: -1px;
    color: #ffffff;
  }
  
  .beginner-text h1 {
    font-size: 38px;
    line-height: 100%;
    text-transform: none;
  }
  
  .beginner-text p{
    position: relative;
    top: 40px;
    font-size: 18px;
  
  }




/*footer*/
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
  height:500px;
  background-color: #222;
  color: #fff;
  text-decoration: none;
  border-top: 1px solid #222;
  padding-bottom: 50px;
}
.footer-col{
   width: 20%;
   padding: 5px 10px;
   margin-top: 40px;
}
.footer-col h4{
	font-size: 14px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 14px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}




/*responsive*/
@media(max-width: 767px){
  .footer-col{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
}

@media screen and (min-width: 640px){
  .footer #ftr .ftr-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
}

